@charset "UTF-8";
p {
	text-align: center;
	

	text-align: left;
	margin-top: 25px;
	margin-left: 20px;


	
}
h1 {
	text-align: center;
	text-shadow: 50px; 
	text-decoration-color: brown;
	text-shadow:19px;
	text-decoration-color:yellow;


}

body {
    background-color:lightgrey;
}
           
.row{


}
.chickenbox {
	width:20px;
	height:5px;
	
    background:#444;
    margin-left:25px;
    border-color:#111;
    padding-top:7px;
    padding-bottom:25px; 
    float:left;
}


.beefbox {
	width:10px;
	
    background:#666;
    margin:25px;
    border-color:#333;
    padding-bottom:25px;
    float:right;
}


      







@media(min-width: 768px) and (max-width: 991px) {
    .chickenbox
    {
        width:30%
        height:10%;
        margin-right:10px;
        margin-bottom: 15px;
        float:left;
        background-color: #AFFFF4;
        border-color: #aaffdd;
    }

    .chickenbox{

    	width:30%
        height:10%;
        margin-bottom: 15px;
        background-color: red;
       border-color: #ff4444;
        float:right;


    }



    .sushibox{

    	width:90%
        height:10%;
        margin-top: 15px;
        padding-top: 15px;
      
     
        float:center;
        column-width:12;
        background-color:black;
        border-color:#345ffe;
    }
}



@media(min-width: 992px) {
    .chickenbox
    {
       width:20%
        height:10%;
        
        float:left;
     background-color: #AFFFF4;
        border:5px 
        border-color: black; 
        margin-right: 15px; 

        
    }

.chickenbox{

    	width:20%
        height:10%;
        margin-right: 15px;
        float:left;
       background-color:#cccccc;
       border-color:red;
       border:5px; 

    }



    .chickenbox{

    	width:20%
        height:10%;
        margin-left:25px;
        float:right;
      background-color:#aabbcc; 
      border:5px;


    }

}




@media (max-width: 767px){
.chickenbox
    {
        width:70%
        height:10%;
        background-color: #AFFFF4;
        border-color: #aaffdd;
        
    }

.chickenbox{

    	width:70%
        height:10%;
background-color:#aabbcc;
    }



    .chickenbox{

    	width:70%
        height:10%;
         background-color:#ffffff;
    }
}





footer {
	margin-top: 60px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #383838;
	color: #FFFFFF;
	text-align: center;
}










</style>









</style>



