@charset "UTF-8";
p {
	text-align: center;
	

	text-align: left;
	margin-top: 15px;
	margin-left: 10px;


	
}
h1 {
	text-align: center;
	text-shadow: 50px; 
	text-decoration-color: brown;

}

body {
    background-color:lightgrey;
}
           
.row{
height:50px;

}
.chickenbox {
	width:31%;
	height:5px;
    background:#444;
    margin:10%;
    border-color:blue;
    padding:5px;
    float:left;
}
.beefbox {
	width:31%;
	height:5px;
    background:#555;
    margin:10%;
    border-color:brown;
    padding:5px;
    float:left;
}

.sushibox {
	width:31%;
	height:5px;
    background:#666;
    margin:10%;
    border-color:green;
    padding:5px;
    float:left;
}


      



footer {
	margin-top: 60px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #383838;
	color: #FFFFFF;
	text-align: center;
}




/*tablet

@media(min-width: 768px) and (max-width: 991px) {
    .chickenbox
    {
        width:30%
        height:10%;
        margin-right:10px;
        margin-bottom: 15px;
        float:left;
        background-color: #AFFFF4;
        border-color: #aaffdd;
    }

    .beefbox{

    	width:30%
        height:10%;
        margin-bottom: 15px;
        background-color: red;
       border-color: #ff4444;
        float:right;


    }



    .sushibox{

    	width:90%
        height:10%;
        margin-top: 15px;
        padding-top: 15px;
      
     
        float:center;
        column-width:12;
        background-color:black;
        border-color:#345ffe;
    }
}
/* 


@media(min-width: 992px) {
    .chickenbox
    {
       width:20%
        height:10%;
        
        float:left;
     background-color: #AFFFF4;
        border:5px 
        border-color: black; 
        margin-right: 15px; 

        
    }

.beefbox{

    	width:20%
        height:10%;
        margin-right: 15px;
        float:left;
       background-color:#cccccc;
       border-color:red;
       border:5px; 

    }



    .sushibox{

    	width:20%
        height:10%;
        margin-left:25px;
        float:right;
      background-color:#aabbcc; 
      border:5px;


    }

}

/* mobile


@media (max-width: 767px){
.chickenbox
    {
        width:70%
        height:10%;
        background-color: #AFFFF4;
        border-color: #aaffdd;
        
    }

.beefbox{

    	width:70%
        height:10%;
background-color:#aabbcc;
    }



    .sushibox{

    	width:70%
        height:10%;
         background-color:#ffffff;
    }
}






*/







</style>









</style>



