@charset "UTF-8";
p {
	text-align: center;
	

	text-align: left;
	margin-top: 25px;
	margin-left: 20px;


	
}
h1 {
	text-align: center;
	text-shadow: 50px; 
	text-decoration-color: brown;
	text-shadow:19px;
	text-decoration-color:yellow;


}

body {
    background-color:lightgrey;
}
           
.row{


}
#titlebox{
	position:absolute;
	width:auto;
	border-color: #134;
}

}
.chickenbox {
	width:20px;
	height:5px;
	
    background:#411;
    margin-left:25px;
    border-color:#111;
    padding-top:7px;
    padding-bottom:5px; 
    float:left;
    
}






/*tablet*/

@media(min-width: 768px) and (max-width: 991px) {
    .chickenbox
    {
        width:33%
        height:10%;
        margin-right:10px;
        margin-bottom: 15px;
        float:left;
        background-color: #AFFFF4;
        border-color: #134;
        float:left;
    }

    .beefbox{

    	width:33%
        height:10%;
        margin-bottom: 15px;
        background-color: red;
       border-color: #123;
        float:left;


    }

.sushibox {
	
	width:80%
    background:#442;
    margin-left:25px;
    border-color:#144;
    padding-top:7px;
    padding-bottom:5px; 
    float:center;
    
}



   
}


/* desktop*

@media(min-width: 992px) {
    .chickenbox
    {
       width:20%
        height:10%;
        
        float:left;
     background-color: #131;
        border:5px 
        border-color: black; 
        margin-right: 15px; 

        
    }

.chickenbox{

    	width:20%
        height:10%;
        margin-right: 15px;
        float:left;
       background-color:#134;
       border-color:red;
       border:5px; 

    }



    .chickenbox{

    	width:20%
        height:10%;
        margin-left:25px;
        float:right;
      background-color:#136; 
      border:2px;


    }

}


/*mobile*


@media (max-width: 767px){
.chickenbox
    {
        width:70%
        height:10%;
        background-color: #136;
        border-color: #135;
        margin-left: 10px;

        
    }

.chickenbox{

    	width:70%
        height:10%;
background-color:#145;
border-color: #166;
margin-left:10px;
    }



    .chickenbox{

    	width:70%
        height:10%;
         background-color:#145;
         border-color:#177;
         margin-left: 10px;
    }
}


*/


footer {
	margin-top: 60px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #383838;
	color: #FFFFFF;
	text-align: center;
}










</style>









</style>



