@charset "UTF-8";
p {
	text-align: center;
	

	text-align: left;
	margin-top: 15px;
	margin-left: 10px;


	
}
h1 {
	text-align: center;
	text-shadow: 50px; 
	text-decoration-color: brown;

}

body {
    background-color:lightgrey;
}
           

.chickenbox {
    width: 300px;
    height: 150px;
    border: 9px solid brown;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #2eefff;
    float:left;
}


.beefbox {
    width: 300px;
    height: 150px;
    margin-right: 15px;
    border: 9px solid brown;
    margin-bottom: 10px;
    background-color:#FFADFF;
    float:center;
}
  


.sushibox {

    width: 400px;
    height: 200px;
    margin-right: 15px;
    float:left;
    border: 9px solid brown;
    background-color: #666345
}






        
.row div {    
 background-color: #c7c7c7;    
border: 3px solid black;    
position: relative;  
width:auto;  
height: 170px;    
margin-right: 15px;    
margin-left: auto;    
margin-bottom: 15px;    
padding: 10px;    
padding-top: 35px;}


.section {
  background-color: #c7c7c7;    
  border: 3px solid black;    
   position: relative;    
  height: 170px;    
  margin-right: 15px;    
  margin-left: 15px;    
  margin-bottom: 15px;    
  padding: 10px;    
  padding-top: 35px;
}





footer {
	margin-top: 60px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #383838;
	color: #FFFFFF;
	text-align: center;
}

</style>



