@charset "UTF-8";
p {
	text-align: center;
	text-decoration-color: black;

	
}
h1 {
	text-align: center;
	text-shadow: 50px; 
	text-decoration-color: brown;

}

body {
    background-color:lightgrey;
}


.chickenbox {
    width: 500px;
    height: 200px;
    border: 9px solid brown;
    margin-top: 20px;
    margin-bottom: 10px;
float:left; 

    



}

.beefbox {
    width: 500px;
    height: 200px;
    
    border: 9px solid brown;
    margin-bottom: 10px;
   
    float:left;
  

}
.sushibox {

    width: 500px;
    height: 200px;
    float:left;
    border: 9px solid brown;
    float:left;
 
    
    


}





}







footer {
	margin-top: 60px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #383838;
	color: #FFFFFF;
	text-align: center;
}

